<div id="page-content">
  <div>
    <h1 class="text-center pb-5">Frits CSV Exporter</h1>
    <p>
      "Fruits API to CSV: CivicaDigital Challenge" Aquí está nuestra respuesta al emocionante desafío de CivicaDigital. Nuestra solución aprovecha Ruby on Rails para consumir la API FruityVice y exportar datos de frutas a un archivo CSV. ¡Explora cómo desarrollamos esta funcionalidad de exportación!
    </p>
    <p class="text-center"><%= link_to "Buscar por filtro", "#" %> | <%= link_to "Buscar por nombre", "#" %></p>
  </div>
</div>
